<!-- sidebar.component.html -->
<div class="main-theme text-white vh-100 p-3" style="width: 240px;">
  <h5 class="text-white">Crownstone</h5>
 <br>

  <ul class="list-unstyled">
    <li class="mb-3">
      <a routerLink="/dashboard" class="text-white">
        <i class="pi pi-home me-2"></i><span>Dashboard</span> 
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/accounts" class="text-white">
        <i class="pi pi-user me-2"></i> Accounts
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/funds" class="text-white">
        <i class="pi pi-dollar me-2"></i> Funds
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/loans" class="text-white">
        <i class="pi pi-money-bill me-2"></i> Loans
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/complaints" class="text-white">
        <i class="pi pi-book me-2"></i> Complaints
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/branches" class="text-white">
        <i class="pi pi-map-marker me-2"></i> Branches
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/branches" class="text-white">
        <i class="pi pi-credit-card me-2"></i> Cards
      </a>
    </li>
    <li class="mb-3">
      <a routerLink="/branches" class="text-white">
        <i class="pi pi-briefcase me-2"></i> Employees
      </a>
    </li>  
    <li class="mb-3">
      <a routerLink="/transactions" class="text-white">
        <i class="pi pi-wallet me-2"></i> Transactions
      </a>
    </li>


    

  </ul>
</div>
