.main-sidebar{
  position: fixed;
  height: 100%;
  width: 16rem;
  background: linear-gradient(to right, #000b20, #001845);
  color: white;
  overflow-y: auto;
  z-index: 1000;
}

.small-sidebar{
   position: fixed;
  height: 100%;
  width: 4rem;
  background: linear-gradient(to right, #000b20, #001845);
  color: white;
  overflow-y: auto;
  z-index: 1000;
  transition: 3s;
}