<!-- topbar.component.html -->
<div class="bg-white d-flex justify-content-between align-items-center px-4 py-2 border-bottom">
    <div>
      <i class="pi pi-home"></i>
    </div>
    <div class="d-flex align-items-center gap-4">
      <a class="text-decoration-none" href="#">Get Assistance</a>
      <div class="dropdown">
        <a class="dropdown-toggle text-decoration-none" href="#" data-bs-toggle="dropdown">
          TSMgr
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  