<!-- topbar.component.html -->
<div class=" d-flex justify-content-between align-items-center px-4 py-2 " >
  <div>
   
  </div>
  <div class="d-flex align-items-center gap-4 " style="margin-right: 2rem;">
   
    <p (click)="getassistance()" style="color: #001845; font-weight: 500;cursor: pointer;">Get Assistance</p>
    <div class="dropdown">
      <p class=" text-decoration-none" style="color: #001845; font-weight: 550;" (click)="logout()" >
        Log Out
      </p>
  
    </div>
  </div>
</div>
