<div class="col-12">
  <div class="title py-2">
     <h4>Funds</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 mb-4">
      <div class="filters-container">      

      <p-dropdown  [options]="riskList" [(ngModel)]="risk" optionLabel="name" placeholder="Select Fund Risk Level"
      [filter]="true">
      </p-dropdown>

        <div *ngIf="FundType">
          <input id="accountNumber" type="text" placeholder="Search For Fund ID" [(ngModel)]="Fundname" class="form-control" />
        </div>


        <button class="btn btn-success btn-light-success waves-effect waves-light" (click)="Click_Search($event)">
          <i class="pi pi-search" style="font-size: 0.8rem"></i>
        </button>

        <button class="btn btn-secondary waves-effect ml-1" (click)="Click_Reset()">
          <i class="pi pi-replay" style="font-size: 0.8rem"></i>
        </button>
      </div>
  </div>
</div>



<div  class="row mt-5">
  <div class="col-4 mb-4 ">
    <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
      <div class="p-card-header d-flex align-items-center">
        <h5 class="p-card-title mb-2">
          Bonds
            </h5>
          </div>
          
          <div class="p-card-body">
            <div style="max-height: 500px; overflow-y: auto;">
              <ul class="list-group">
                <!-- Header Row -->
                <li class="list-group-item d-flex fw-bold"
                style="position: sticky; top: 0; background-color: white; z-index: 1;">
              <div class="d-flex w-100">
                <div class="text-center pr-3" style="width: 75%;">Fund Name</div>
                <div class="d-flex align-items-end justify-content-center" style="width: 25%;">Risk</div>
              </div>
            </li>
              <!--No Data-->
              <li *ngIf="!Bonds?.length">
                <div class="col-12 text-center align-items-center my-4">
                <div>
                  <strong style="font-size: 1.05rem;">No data found</strong>
                </div>
              </div>
              </li>
              <!--Content-->
            <li  *ngFor="let item of Bonds"
            class="list-group-item d-flex">
          <div class="d-flex w-100">
            <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;">
              <button type="button"
                      (click)="displayData(item.id ,item.fund)"
                      pButton
                      icon="pi pi-eye"
                      class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
              {{item.fundName}}
            </div>
      
            <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;">
              {{item.riskProfile}}
            </div>
          </div>
        </li>
              </ul>                                          
            </div>
          </div>
        </div>
      </div>

      <div class="col-4 mb-4 ">
        <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
          <div class="p-card-header d-flex align-items-center">
            <h5 class="p-card-title mb-2">
              Mutual Funds
                </h5>
              </div>
              
              <div class="p-card-body">
                <div style="max-height: 500px; overflow-y: auto;">
                  <ul class="list-group">
                    <!-- Header Row -->
                    <li class="list-group-item d-flex fw-bold"
                    style="position: sticky; top: 0; background-color: white; z-index: 1;">
                  <div class="d-flex w-100">
                    <div class="text-center pr-3" style="width: 75%;">Fund Name</div>
                    <div class="d-flex align-items-end justify-content-center" style="width: 25%;">Risk</div>
                  </div>
                </li>
                  <!--No Data-->
                  <li *ngIf="!mutualFunds?.length">
                    <div class="col-12 text-center align-items-center my-4">
                    <div>
                      <strong style="font-size: 1.05rem;">No data found</strong>
                    </div>
                  </div>
                  </li>
                  <!--Content-->
                <li  *ngFor="let item of mutualFunds"
                class="list-group-item d-flex">
              <div class="d-flex w-100">
                <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;">
                  <button type="button"
                          (click)="displayData(item.id , item.fund)"
                          pButton
                          icon="pi pi-eye"
                          class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
                  {{item.fundName}}
                </div>
          
                <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;">
                  {{item.riskProfile}}
                </div>
              </div>
            </li>
                  </ul>                                          
                </div>
              </div>
            </div>
          </div>

          
          <div class="col-4 mb-4 ">
            <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
              <div class="p-card-header d-flex align-items-center">
                <h5 class="p-card-title mb-2">
                  SIP Funds
                    </h5>
                  </div>
                  
                  <div class="p-card-body">
                    <div style="max-height: 500px; overflow-y: auto;">
                      <ul class="list-group">
                        <!-- Header Row -->
                        <li class="list-group-item d-flex fw-bold"
                        style="position: sticky; top: 0; background-color: white; z-index: 1;">
                      <div class="d-flex w-100">
                        <div class="text-center pr-3" style="width: 75%;">Fund Name</div>
                        <div class="d-flex align-items-end justify-content-center" style="width: 25%;">Risk</div>
                      </div>
                    </li>
                    
                    <!--No Data-->
                    <li *ngIf="!SipFunds?.length">
                      <div class="col-12 text-center align-items-center my-4">
                      <div>
                        <strong style="font-size: 1.05rem;">No data found</strong>
                      </div>
                    </div>
                    </li>
                      <!--Content-->
                    <li  *ngFor="let item of SipFunds"
                    class="list-group-item d-flex">
                  <div class="d-flex w-100">
                    <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;">
                      <button type="button"
                              (click)="displayData(item.id , item.fund)"
                              pButton
                              icon="pi pi-eye"
                              class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
                      {{item.fundName}}
                    </div>
              
                    <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;">
                      {{item.riskProfile}}
                    </div>
                  </div>
                </li>
                      </ul>                                          
                    </div>
                  </div>
                </div>
              </div>
      
      </div>


      <p-dialog 
            header="Fund Details/ ID : {{selectedFund.id}}"  
            [(visible)]="display" 
            [modal]="true" 
            [style]="{width: '55vw', height : '80vw' }"   
            [breakpoints]="{'960px': '95vw'}"
            [closable]="true"
      >

      <div class="col-12  mb-3">
        <h5>Fund Name : <span style="color: #0d1763;font-weight: 700">{{selectedFund.fundName}}</span></h5> 
        <h5>Fund Manager : <span style="color: #0d1763;font-weight: 700">{{selectedFund.fundManager}}</span></h5>   
      </div>
         
      <div class="col-md-12 p-card">
        <div class="row">
      <div class="col-8 mt-4 ">
 <!--       <h5 style="text-align: center; font-weight: 600;">Recent Growth</h5>-->
          <p-chart 
            type="line" [data]="lineChartData"   [options]="lineChartOptions">
          </p-chart>
      
      </div>
      <div class="col-4 mt-5 pr-2">

        <div  class="col-12 px-3">
          <div class="p-card">
          <div class="p-card-body box-style mt-3">
           <h5 style="color: #001845; text-align: center; font-weight: 700;">OverallGrowth : 
             <span style="font-weight: 500;"> {{selectedFund.overallGrowth}}%</span></h5>
          </div>
          </div>       
      </div>

      <div  class="col-12 px-3">
        <div class="p-card">
        <div class="p-card-body box-style mt-3">
          <h5 style="color: #001845; text-align: center; font-weight: 700;">AUM : 
            <span style="font-weight: 500;"> {{selectedFund.aum}}</span></h5>
        </div>
        </div>       
    </div>

    <div  class="col-12 px-3">
      <div class="p-card">
      <div class="p-card-body box-style mt-3">
        <h5 style="color: #001845; text-align: center; font-weight: 700;">LaunchDate : 
          <span style="font-weight: 500;"> {{selectedFund.launchDate}}</span></h5>
      </div>
      </div>       
  </div>


      </div>
    </div>
      </div>

      <div class="col-md-12 p-card">
        <div class="row">
          <div class="col-4 mt-5 pr-2">

            <div  class="col-12 px-3">
              <div class="p-card">
              <div class="p-card-body box-style mt-3">
               <h5 style="color: #001845; text-align: center; font-weight: 700;">Risk Profile : 
                 <span style="font-weight: 500;"> {{selectedFund.riskProfile}}%</span></h5>
              </div>
              </div>       
          </div>
    
          <div  class="col-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
              <h5 style="color: #001845; text-align: center; font-weight: 700;">Fund Type : 
                <span style="font-weight: 500;"> {{selectedFund.fundType}}</span></h5>
            </div>
            </div>       
        </div>
    
          </div>
      <div class="col-8 mt-4 ">
 <!--       <h5 style="text-align: center; font-weight: 600;">Recent Growth</h5>-->
        <p-chart 
        type="bar" [data]="barChartData" [options]="barChartOptions" styleClass="w-full" style="height:400px;">
        </p-chart>
      </div>

    </div>
      </div>

   
   
  
    </p-dialog>









    