<div class="col-12">
  <div class="title py-2">
     <h4>Funds</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 ">
      <div class="filters-container">      
          <p-dropdown class="filters" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" placeholder="Select a City"
            [filter]="true">
          </p-dropdown>
  
          <p-multiSelect class="filters" [options]="cities" [(ngModel)]="selectedCities" optionLabel="name" placeholder="Select Cities"
          display="chip" [filter]="true">
        </p-multiSelect>

        <button class="btn btn-success btn-light-success waves-effect waves-light">
          <i class="pi pi-search" style="font-size: 0.8rem"></i>
        </button>

        <button class="btn btn-secondary waves-effect ml-1">
          <i class="pi pi-replay" style="font-size: 0.8rem"></i>
        </button>
      </div>
  </div>
</div>








    