<p-toast position="top-center" key="success" [baseZIndex]="50000"></p-toast>

<div class="col-md-12">
  <div class="title py-2">
     <h4>Funds</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
      <div class="filters-container">      

      <p-dropdown  [options]="riskList" [(ngModel)]="risk" optionLabel="name" placeholder="Select Fund Risk Profile"
      [filter]="true">
      </p-dropdown>

        <div *ngIf="FundType">
          <input id="accountNumber" type="text" placeholder="Search For Fund ID" [(ngModel)]="Fundname" class="form-control" />
        </div>


        <button class="btn btn-success btn-light-success waves-effect waves-light search-btn" (click)="Click_Search($event)">
          <i class="pi pi-search" style="font-size: 0.8rem; font-weight: 600;"></i>
        </button>

        <button class="btn btn-secondary waves-effect ml-1 reset-btn" (click)="Click_Reset()">
          <i class="pi pi-replay" style="font-size: 0.8rem;font-weight: 600;"></i>
        </button>
      </div>
  </div>
</div>


<div class="px-2 py-2 mb-2 text-nowrap mt-3"
style="font-size: 0.9rem; background-color: #e9f7fe; border-left: 4px solid #17a2b8;
 border-radius: 6px; color: #0c5460; width: max-content; font-weight: 500;">
Click on the Eye icon to view details of a particular Fund
</div>



<div  class="row mt-4">
  <div class="col-lg-4 col-md-12 mb-4 ">
    <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
      <div class="p-card-header d-flex align-items-center">
        <h5 class="p-card-title mb-2">
          Bonds
            </h5>
          </div>
          
          <div class="p-card-body">
            <div style="max-height: 500px; overflow-y: auto;">
              <ul class="list-group">
                <!-- Header Row -->
                <li class="list-group-item d-flex fw-bold"
                style="position: sticky; top: 0; background-color: white; z-index: 1;">
              <div class="d-flex w-100">
                <div class="text-center pr-3" style="width: 75%;font-size: 80%;">Fund Name</div>
                <div class="d-flex align-items-end justify-content-center" style="width: 25%;font-size: 80%;">Risk</div>
              </div>
            </li>
              <!--No Data-->
              <li *ngIf="!Bonds?.length">
                <div class="col-md-12 text-center align-items-center my-4">
                <div>
                  <strong style="font-size: 1.05rem;">No data found</strong>
                </div>
              </div>
              </li>
              <!--Content-->
            <li  *ngFor="let item of Bonds"
            class="list-group-item d-flex">
          <div class="d-flex w-100">
            <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;font-size: 80%;">
              <button type="button"
                      (click)="displayData(item.id ,item.fund)"
                      pButton
                      icon="pi pi-eye"
                       pTooltip="View Details" tooltipPosition="left"
                      class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
              {{item.fundName}}
            </div>
      
            <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;font-size: 80%;">
              {{item.riskProfile}}
            </div>
          </div>
        </li>
              </ul>                                          
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 mb-4 ">
        <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
          <div class="p-card-header d-flex align-items-center">
            <h5 class="p-card-title mb-2">
              Mutual Funds
                </h5>
              </div>
              
              <div class="p-card-body">
                <div style="max-height: 500px; overflow-y: auto;">
                  <ul class="list-group">
                    <!-- Header Row -->
                    <li class="list-group-item d-flex fw-bold"
                    style="position: sticky; top: 0; background-color: white; z-index: 1;">
                  <div class="d-flex w-100">
                    <div class="text-center pr-3" style="width: 75%;font-size: 80%;">Fund Name</div>
                    <div class="d-flex align-items-end justify-content-center" style="width: 25%;font-size: 80%;">Risk</div>
                  </div>
                </li>
                  <!--No Data-->
                  <li *ngIf="!mutualFunds?.length">
                    <div class="col-md-12 text-center align-items-center my-4">
                    <div>
                      <strong style="font-size: 1.05rem;">No data found</strong>
                    </div>
                  </div>
                  </li>
                  <!--Content-->
                <li  *ngFor="let item of mutualFunds"
                class="list-group-item d-flex">
              <div class="d-flex w-100">
                <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;font-size: 80%;">
                  <button type="button"
                          (click)="displayData(item.id , item.fund)"
                          pButton
                           pTooltip="View Details" tooltipPosition="left"
                          icon="pi pi-eye"
                          class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
                  {{item.fundName}}
                </div>
          
                <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;font-size: 80%;">
                  {{item.riskProfile}}
                </div>
              </div>
            </li>
                  </ul>                                          
                </div>
              </div>
            </div>
          </div>

          
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="p-grid p-grid-responsive p-grid-responsive-md p-grid-responsive-lg">
              <div class="p-card-header d-flex align-items-center">
                <h5 class="p-card-title mb-2">
                  SIP Funds
                    </h5>
                  </div>
                  
                  <div class="p-card-body">
                    <div style="max-height: 500px; overflow-y: auto;">
                      <ul class="list-group">
                        <!-- Header Row -->
                        <li class="list-group-item d-flex fw-bold"
                        style="position: sticky; top: 0; background-color: white; z-index: 1;">
                      <div class="d-flex w-100">
                        <div class="text-center pr-3" style="width: 75%;font-size: 80%;">Fund Name</div>
                        <div class="d-flex align-items-end justify-content-center" style="width: 25%;font-size: 80%;">Risk</div>
                      </div>
                    </li>
                    
                    <!--No Data-->
                    <li *ngIf="!SipFunds?.length">
                      <div class="col-md-12 text-center align-items-center my-4">
                      <div>
                        <strong style="font-size: 1.05rem;">No data found</strong>
                      </div>
                    </div>
                    </li>
                      <!--Content-->
                    <li  *ngFor="let item of SipFunds"
                    class="list-group-item d-flex">
                  <div class="d-flex w-100">
                    <div class=" text-center d-flex align-items-center justify-content-start" style="width: 80%;font-size: 80%;">
                      <button type="button"
                              (click)="displayData(item.id , item.fund)"
                              pButton
                               pTooltip="View Details" tooltipPosition="left"
                              icon="pi pi-eye"
                              class="btn btn-primary btn-sm" style="margin-right: 1rem ;"></button> 
                      {{item.fundName}}
                    </div>
              
                    <div class=" text-end d-flex align-items-start justify-content-center" style="width: 20%;font-size: 80%;">
                      {{item.riskProfile}}
                    </div>
                  </div>
                </li>
                      </ul>                                          
                    </div>
                  </div>
                </div>
              </div>
      
      </div>


      <p-dialog 
            header="Fund Details/ ID : {{selectedFund.id}}"  
            [(visible)]="display" 
            [modal]="true" 
            [style]="{width: '55rem', height : '80rem' }"   
            [breakpoints]="{'960px': '95vw'}"
            [closable]="true"
      >

      <div class="col-12  mb-3">
        <h5>Fund Name : <span style="color: #0d1763;font-weight: 700">{{selectedFund.fundName}}</span></h5> 
        <h5>Fund Manager : <span style="color: #0d1763;font-weight: 700">{{selectedFund.fundManager}}</span></h5>   
      </div>
         
      <div class="col-md-12 p-card">
        <div class="row">
      <div class="col-md-8 col-sm-12 mt-4 ">
 <!--       <h5 style="text-align: center; font-weight: 600;">Recent Growth</h5>-->
          <p-chart 
            type="line" [data]="lineChartData"   [options]="lineChartOptions">
          </p-chart>
      
      </div>
      <div class="col-md-4 col-sm-12 mt-5 pr-2">

        <div class="d-flex flex-column">
          <div class="col-md-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
              <p style=" font-size: 80%; text-align: center; font-weight: 700; color: rgb(69, 67, 67);"> Aum : 
                <span style="font-weight: 700;color: #001845;"> {{selectedFund.aum}}</span></p>
            </div>
            </div>       
          </div>
          <div class="col-md-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
              <p  style=" font-size: 80% ;text-align: center; font-weight: 700; color: rgb(69, 67, 67);"> Overrall Growth : 
                <span style="font-weight: 700;color: #001845;"> {{selectedFund.overallGrowth}}%</span></p>
            </div>
            </div>       
          </div>
          <div class="col-md-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
              <p  style=" font-size: 80% ;text-align: center; font-weight: 700; color: rgb(69, 67, 67);"> Launch Date : 
                <span style="font-weight: 700;color: #001845;">  {{selectedFund.launchDate}}</span></p>
            </div>
            </div>       
          </div>
        </div>


      </div>
    </div>
      </div>

      <div class="col-md-12 p-card">
        <div class="row">
          <div class="col-md-4 col-sm-12 mt-5 pr-2">

            <div class="d-flex flex-column">
              <div class="col-md-12 px-3">
                <div class="p-card">
                <div class="p-card-body box-style mt-3">
                  <p style=" font-size: 80%; text-align: center; font-weight: 700; color: rgb(69, 67, 67);"> Risk Profile : 
                    <span style="font-weight: 700;color: #001845;"> {{selectedFund.riskProfile}}%</span></p>
                </div>
                </div>       
              </div>
              <div class="col-md-12 px-3">
                <div class="p-card">
                <div class="p-card-body box-style mt-3">
                  <p  style=" font-size: 80% ;text-align: center; font-weight: 700; color: rgb(69, 67, 67);"> Fund Type : 
                    <span style="font-weight: 700;color: #001845;"> {{selectedFund.fundType}}</span></p>
                </div>
                </div>       
              </div>
            </div>
    
    
          </div>
      <div class="col-md-8 col-sm-12 mt-4 ">
 <!--       <h5 style="text-align: center; font-weight: 600;">Recent Growth</h5>-->
        <p-chart 
        type="bar" [data]="barChartData" [options]="barChartOptions" styleClass="w-full" style="height:400px;">
        </p-chart>
      </div>

    </div>
      </div>

   
   
  
    </p-dialog>









    