<p-toast position="top-center" key="success" [baseZIndex]="50000"></p-toast>

<div class="col-12">
  <div class="title py-2">
     <h4>Employees</h4>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 d-flex justify-content-between ">
      <div class="filters-container">      
          <p-dropdown  [options]="branches" [(ngModel)]="selectedBranch" optionLabel="location" placeholder="Select a Branch"
            [filter]="true">
          </p-dropdown>

          <div>
              <input id="accountNumber" type="text" placeholder="Search Employee Name" [(ngModel)]="search" class="form-control" />
            </div>
        
        <button class="btn btn-success btn-light-success waves-effect waves-light search-btn" (click)="Click_Search($event)">
          <i class="pi pi-search" style="font-size: 0.8rem;font-weight: 600;"></i>
        </button>

        <button  class="btn btn-secondary reset-btn ml-1" (click)="Click_Reset()" >
          <i class="pi pi-replay" style="font-size: 0.8rem; font-weight: 600;"></i>
        </button>
      </div>
      <div class="filters-container d-flex justify-content-end pr-5">
       <button pButton type="button" 
       (click)="addEmployee()"  label="Add New Employee" class="btn primary " 
       style="margin-right: 1.5rem;border-radius: 0.5rem;"></button>
      </div>
  </div>
</div>


<p-tabView (onChange)="onTabChange($event)"
[(activeIndex)]="selectedTab">
  <p-tabPanel *ngFor="let city of cityTabs" [header]="city.label"  >
 </p-tabPanel>
  </p-tabView>

<div class="row mt-3">
  <div class="d-flex justify-content-lg-start justify-content-md-center flex-wrap">
  
    <ng-container  *ngFor="let item of employeesData">
     
    <div *ngIf="block=== 1 ? item.blocked : !item.blocked"  class="col-md-8 col-lg-4 col-12 p-3 " >
    <div class="p-card shadow rounded-3 p-4 mb-5">
      <div class="d-flex align-items-center mb-3">
        
        <!-- Avatar -->
        <div class="me-3">
          <i class="pi pi-user fs-1"></i>
        </div>
    
        <!-- Basic Info -->
        <div>
          <h5 class="mb-1 fw-bold">{{item.name}}</h5>
          <p class="mb-0 fw-semibold">{{item.position}}</p>
          <small>{{item.email}}</small>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="d-flex gap-3 mt-3">
        <button pButton type="button" (click)="employeeBlock(item.employeeId)"  [label]="block == 1 ? 'UnBlock' : 'Block'"  class="p-button-outlined p-button-primary w-50" style="border-color:  #0d1763 ; color:  #0d1763;"></button>
        <button pButton type="button" (click)="employeeDetails(item.employeeId)" label="Details" class="p-button w-50 primary " ></button>
      </div>
    </div>
    </div>

  </ng-container>

  </div>
</div>



<p-dialog 
header="Employee Details "  
[(visible)]="display" 
[modal]="true" 
[style]="{width: '50vw' }"   
[breakpoints]="{'960px': '95vw'}"
[closable]="true"

>
<div class="col-12 ml-5"> 

<div class="d-flex ml-5 ">

  <div class="me-3 d-flex flex-column align-items-center col-5 mt-3 gap-5">
    <div class=" profile " style="border: solid 5px; border-radius: 50%; padding: 15%;">
      <i class="pi pi-user fs-1" style="font-size: 40vh; "></i>
    </div>
  
    <p class="col- pl-3" style="font-size: 100% ;">Employee ID : {{selectedEmployee.employeeId}}</p>
    
    <button *ngIf="selectedEmployee" type="button"  (click)="employeeBlock(selectedEmployee.employeeId)" 
       class="btn w-50 " label=""
      style="border-color:  #0d1763 ; color:  #0d1763; display: flex; justify-content: center;width:100%;">
      {{blockbutton}}</button>
  </div>

  <div class="col-7 d-flex flex-column justify-content-center align-items-end ml-5 gap-2">
   
  <div class="col-12 px-3">
    <div class="p-card">
    <div class="p-card-body box-style mt-3">
     <p style="font-size: 100% ; text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Name : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.name}}</span></p>
    </div>
    </div>       
</div>
<div class="col-12 px-3">
  <div class="p-card">
  <div class="p-card-body box-style mt-3">
    <p style=" text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Date of Joining : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.dateOfJoining}}</span></p>
  </div>
  </div>       
</div>    
  <div class="col-12 px-3">
  <div class="p-card">
  <div class="p-card-body box-style mt-3">
    <p style=" text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Department : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.department}}</span></p>
  </div>
  </div>       
</div> 
 <div class="col-12 px-3">
  <div class="p-card">
  <div class="p-card-body box-style mt-3">
    <p style=" text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Contact Number : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.contactNumber}}</span></p>
  </div>
  </div>       
</div>   
 <div class="col-12 px-3">
  <div class="p-card">
  <div class="p-card-body box-style mt-3">
    <p style=" text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Branch : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.branch}}</span></p>
  </div>
  </div>       
</div>
<div class="col-12 px-3">
  <div class="p-card">
  <div class="p-card-body box-style mt-3">
    <p style=" text-align: center; font-weight: 700; color: rgb(69, 67, 67);">Email : 
      <span style="font-weight: 700;color: #001845;"> {{selectedEmployee.email}}</span></p>
  </div>
  </div>       
</div>
  </div>

 
  
</div>


</div>

</p-dialog>


<p-dialog 
header="Delete Account" 
[(visible)]="deleteDisplay" 
[modal]="true" 
[style]="{width: '30rem'}  " 
[breakpoints]="{'960px': '95vw'}"
[closable]="true"
>
<div class="col-12 mb-4">
  <p style="font-size: larger;">Are you sure you want to {{ block == 1 ? 'unblock' : 'block' }} this Account? </p>
  <p style="font-size: larger;">Employee Name : {{selectedEmployee.name}}<span style="font-weight: 600;"></span> </p>
</div>
<div class="d-flex gap-3 mt-3">
  <button pButton (click)="deleteDisplay = false;"  type="button" label="No" class="p-button-outlined p-button-primary w-50" style="border-color:  #0d1763 ; color:  #0d1763;"></button>
  <button pButton (click)="delete()" label = "Yes"  type="button"   class="p-button w-50 primary " ></button>
</div>
</p-dialog>

<p-dialog 
header="Add New Employee" 
[(visible)]="employeeDisplay" 
[modal]="true" 
[style]="{width: '85vw'}  " 
[contentStyle]="{'overflow': 'scroll'}" 
[breakpoints]="{'960px': '95vw'}"
[closable]="true"
>
  <form [formGroup]="newEmployee">

<div class="col-12 px-3 sc">

<div class="mt-2 border-bottom">
    <h5>Bank Details</h5>
</div>

<div class="row mb-2 mt-2 ">


    <div  class="col-12 col-sm-4">
          <label class="form-label">Branch</label>
          <p-dropdown class="w-100 full-width-dropdown" formControlName="branch" optionValue="branchName" [options]="branches"
           optionLabel="location" placeholder="Choose Bank Branch" 
            appendTo="body" [resetFilterOnHide]="true" [filter]="true"> </p-dropdown>
    </div>
    <div  class="col-12 col-sm-4">
      <label class="form-label">Employee ID</label>
      <input class="p-inputtext-sm custom-input blue-focus-input w-100" formControlName="employeeId"
       type="text" pInputText placeholder="Choose" />
    </div>
        <div  class="col-12 col-sm-4">
      <label class="form-label">Name</label>
      <input class="p-inputtext-sm custom-input blue-focus-input w-100" formControlName="name"
       type="text" pInputText placeholder="Choose" />
    </div>
</div>

<div class="mt-2 border-bottom">
    <h5>Account Information</h5>
</div>
<div class="row mb-2 mt-2">
    <div  class="col-12 col-sm-4">
          <label class="form-label">Position</label>
           <p-dropdown class="w-100 full-width-dropdown" formControlName="position" optionValue="value" [options]="positionList"
           optionLabel="name" placeholder="Choose Bank Branch" 
            appendTo="body" [resetFilterOnHide]="true" [filter]="true"> </p-dropdown>
    </div>

    <div  class="col-12 col-sm-4">
            <label class="form-label">Department</label>
           <p-dropdown class="w-100 full-width-dropdown" formControlName="department" 
           optionValue="value" [options]="departmentList" optionLabel="name" placeholder="Choose Bank Branch" 
            appendTo="body" [resetFilterOnHide]="true" [filter]="true"> </p-dropdown>
    </div>
    <div  class="col-12 col-sm-4">
      <label class="form-label">Contact Number</label>
      <input  class="p-inputtext-sm custom-input blue-focus-input w-100" type="text" formControlName="contactNumber"
       pInputText placeholder="Choose" />
    </div>



 
</div>
<div class="row mb-2">
 
  <div  class="col-12 col-sm-4">
    <label class="form-label">Date of Joining</label>
    <p-calendar 
    formControlName="dateOfJoining"
    class="w-100 full-width-dropdown"
    [showIcon]="true"
    placeholder="Choose a date"
    dateFormat="dd-mm-yy">
  </p-calendar>
  
  </div>

</div>


<div class="mt-2 border-bottom">
    <h5>Card details</h5>
</div>
<div class="row mb-5 mt-2">
  <div  class="col-12 col-sm-4">
    <label class="form-label">Email</label>
    <input class="p-inputtext-sm custom-input blue-focus-input w-100" formControlName="email"
       type="text" pInputText placeholder="Choose" />
  </div>
      <div  class="col-12 col-sm-4">
      <label class="form-label">Salary</label>
      <input class="p-inputtext-sm custom-input blue-focus-input w-100" formControlName="salary"
       type="text" pInputText placeholder="Choose" />
    </div>

</div>




 

</div>

<div class="col-12 d-flex justify-content-center gap-3 mt-5">
<button pButton type="button" label="Save" [disabled]="newEmployee.status != 'VALID'" (click)="saveNewEmployee()" class="col-2 p-button primary p-mr-2"></button>
<button pButton type="button" label="Cancel"  class="col-2 p-button-outlined p-button-primary" 
style="border-color:  #0d1763 ; color:  #0d1763;" ></button>
</div>

</form>
</p-dialog>