<div class="col-12">
  <div class="title py-2">
     <h4>Employees</h4>
  </div>
</div>

<div class="row mb-5">
  <div class="col-12 ">
      <div class="filters-container">      
          <p-dropdown  [options]="branches" [(ngModel)]="selectedBranch" optionLabel="location" placeholder="Select a Branch"
            [filter]="true">
          </p-dropdown>

          <div>
              <input id="accountNumber" type="text" placeholder="Search For Employee Name" [(ngModel)]="accountNumber" class="form-control" />
            </div>
        
        <button class="btn btn-success btn-light-success waves-effect waves-light" (click)="Click_Search($event)">
          <i class="pi pi-search" style="font-size: 0.8rem"></i>
        </button>

        <button class="btn btn-secondary waves-effect ml-1" (click)="Click_Reset()">
          <i class="pi pi-replay" style="font-size: 0.8rem"></i>
        </button>
      </div>
  </div>
</div>


<p-tabView (onChange)="onTabChange($event)"
[(activeIndex)]="selectedBranch">
  <p-tabPanel *ngFor="let city of cityTabs" [header]="city.label"  >
 </p-tabPanel>
  </p-tabView>

<div class="row mt-3">
  <div class="d-flex justify-content-around flex-wrap">
  
    <ng-container *ngFor="let item of employeesData">
    <div *ngIf="block==1 ? item.blocked : !item.blocked"  class="p-card shadow rounded-3 p-4 mb-5" style="min-width :450px;;  max-width: 600px;">
      <div class="d-flex align-items-center mb-3">
        
        <!-- Avatar -->
        <div class="me-3">
          <i class="pi pi-user fs-1"></i>
        </div>
    
        <!-- Basic Info -->
        <div>
          <h5 class="mb-1 fw-bold">{{item.name}}</h5>
          <p class="mb-0 fw-semibold">{{item.position}}</p>
          <small>{{item.email}}</small>
        </div>
      </div>
    
      <!-- Action Buttons -->
      <div class="d-flex gap-3 mt-3">
        <button pButton type="button" label="Block" class="p-button-outlined p-button-primary w-50" style="border-color:  #0d1763 ; color:  #0d1763;"></button>
        <button pButton type="button" label="Details" class="p-button w-50 primary " ></button>
      </div>
    </div>
  </ng-container>

  </div>
</div>

