/* layout.component.css */

.main-wrapper {
  margin-left: 30vh; /* same as sidebar width */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}

.main-content {
  flex-grow: 1;
  padding: 1.5rem;
  overflow-y: auto;
}
