<p-toast position="top-center" key="success" [baseZIndex]="50000"></p-toast>
<div class="col-12">
  <div class="title py-2">
     <h4>Accounts</h4>
  </div>
</div>

<div class="row">
  <div class="col-12 ">
      <div class="filters-container">      
          <p-dropdown  [options]="branches" [(ngModel)]="selectedBranch" optionLabel="location" placeholder="Select a Branch"
            [filter]="true">
          </p-dropdown>

          <p-dropdown  [options]="status" [(ngModel)]="statusName" optionLabel="name" placeholder="Select a Status"
          [filter]="true">
          </p-dropdown>

          <p-dropdown  [options]="accountTypeList" [(ngModel)]="accountType" optionLabel="name" placeholder="Select a Account Type"
          [filter]="true">
          </p-dropdown>
        <button class="btn btn-success btn-light-success waves-effect waves-light" (click)="Click_Search($event)">
          <i class="pi pi-search" style="font-size: 0.8rem"></i>
        </button>

        <button class="btn btn-secondary waves-effect ml-1" (click)="Click_Reset()">
          <i class="pi pi-replay" style="font-size: 0.8rem"></i>
        </button>
      </div>
  </div>
</div>



<div class="row mt-5 mb-1">
<div class="col-12 d-flex justify-content-start gap-2">

<button (click)="displayDialog2()" class="btn btn-primary waves-effect ml-1"  style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;">
  <i class="pi pi-plus mr-2"></i> Add New Account
</button>

<button class="excel-btn" (click)="exportToExcel()" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0;"
 pTooltip="Convert to ExcelSheet" tooltipPosition="top">  <i class="pi pi-file-excel"></i>
  <span>EXCEL</span>
</button>


</div>
</div>


<div class="col-12 mt-1">
<div class="card">
<p-table [value]="accountData" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
<ng-template pTemplate="header" styleClass="p-datatable-striped" class="p-table-striped">
<tr>
  <th></th>
  <th></th>
  <th>ID</th>
  <th>Opening Date</th>
  <th>Account No</th>
  <th>Account Type</th>
  <th>Branch</th>
  <th>Status</th>
  <th>Balance</th>
</tr>
</ng-template>
<ng-template pTemplate="body" let-rowData>
<tr class="ml-5">
  <th>
    <button (click)="deleteBox(rowData.customerId)" class="btn btn-primary" style="margin-left: 20%;"    
    pTooltip="Delete Account Info" tooltipPosition="top">
      <i class="pi pi-trash" style="font-size: 0.8rem"></i>
    </button>
  </th>
  <th>
    <button (click)="displayDialog(rowData.customerId)" class="btn btn-primary ml-5" 
     pTooltip="Edit Account Info" tooltipPosition="top">
      <i class="pi pi-pencil" style="font-size: 0.8rem"></i>
    </button>
  </th>

  <td>{{ rowData.customerId }}</td>
  <td>{{ rowData.accountData.openingDate }}</td>
  <td>{{ rowData.accountData.accountNumber }}</td>
  <td>{{ rowData.accountData.accountType }}</td>
  <td>{{ rowData.branch }}</td>
  <td>
    <span 
      class="status-pill"
      [ngStyle]="getColor(rowData.accountData.status ?? 0)">
      {{ rowData.accountData.status }}
    </span>
  </td>
  
  <td>₹{{ rowData.accountData.balance }}</td>
</tr>
</ng-template>
</p-table>
</div>
</div>


<p-dialog 
header="Add New Account" 
[(visible)]="display" 
[modal]="true" 
[style]="{width: '85vw'}  " 
[contentStyle]="{'overflow': 'scroll'}" 
[breakpoints]="{'960px': '95vw'}"
[closable]="true"
>

<div class="col-12 px-3 sc">

<div class="mt-2 border-bottom">
    <h5>Bank Details</h5>
</div>
<div class="row mb-2 mt-2 ">

    <div  class="col-12 col-sm-4">
          <label class="form-label">Branch</label>
          <p-dropdown class="w-100 full-width-dropdown" optionValue="branchName" [options]="formbranches"
           [(ngModel)]="formaccount.branch" optionLabel="location" placeholder="Choose Bank Branch" 
            appendTo="body" [resetFilterOnHide]="true" [filter]="true"> </p-dropdown>
    </div>
    <div  class="col-12 col-sm-4">
      <label>Opening Agent/Employee ID</label>
      <input [(ngModel)]="formaccount.accountData.createdBy" class="p-inputtext-sm custom-input blue-focus-input w-100" type="text" pInputText placeholder="Choose" />
</div>
</div>

<div class="mt-2 border-bottom">
    <h5>Account Information</h5>
</div>
<div class="row mb-2 mt-2">
    <div  class="col-12 col-sm-4">
          <label>Account Number</label>
          <input [disabled]="!newAccount" [(ngModel)]="formaccount.accountData.accountNumber" class="p-inputtext-sm custom-input blue-focus-input w-100" type="text" pInputText placeholder="Choose" />
    </div>

    <div  class="col-12 col-sm-4">
            <label>Current Balance</label>
            <input [(ngModel)]="formaccount.accountData.balance" class="p-inputtext-sm custom-input blue-focus-input w-100" type="text" pInputText placeholder="Choose" />
    </div>
    <div  class="col-12 col-sm-4">
      <label>Customer Id</label>
      <input [disabled]="!newAccount"  [(ngModel)]="formaccount.customerId" class="p-inputtext-sm custom-input blue-focus-input w-100" type="text" pInputText placeholder="Choose" />
    </div>



 
</div>
<div class="row mb-2">
  <div  class="col-12 col-sm-4">
    <label class="form-label">Account Type</label>
          <p-dropdown optionValue="value" [options]="formAccountTypeList"  optionLabel="name"
          [(ngModel)]="formaccount.accountData.accountType" class="w-100 full-width-dropdown"  placeholder="Choose Account Type" 
          appendTo="body" [resetFilterOnHide]="true" [filter]="true"> </p-dropdown>
  </div>
  <div  class="col-12 col-sm-4">
    <label class="form-label">Status</label>
    <p-dropdown class="w-100 full-width-dropdown" optionValue="value" [options]="formstatus" [(ngModel)]="formaccount.accountData.status" optionLabel="name" placeholder="Select a Account Type"
    [filter]="true">
    </p-dropdown>
  </div>

  <div  class="col-12 col-sm-4">
    <label class="form-label">Opening Date</label>
    <p-calendar 
    class="w-100 full-width-dropdown"
    [disabled]="!newAccount"
    [(ngModel)]="formaccount.accountData.openingDate"
    [showIcon]="true"
    placeholder="Choose a date"
    dateFormat="yy-mm-dd">
  </p-calendar>
  
  </div>

</div>


<div class="mt-2 border-bottom">
    <h5>Card details</h5>
</div>
<div class="row mb-5 mt-2">
  <div  class="col-12 col-sm-4">
    <label class="form-label">Card Allotement</label>
    <p-dropdown class="w-100 full-width-dropdown" optionValue="value" [options]="bool" 
    [(ngModel)]="formaccount.cardAlloted" optionLabel="name" placeholder="Select a Account Type"
    [filter]="true">
    </p-dropdown>
  </div>
</div>




 

</div>

<div class="col-12 d-flex justify-content-center gap-3 mt-5">
<button pButton type="button" label="Save" class="col-2 btn btn-light-success p-mr-2" (click)="saveAccount()"></button>
<button pButton type="button" label="Cancel" class="col-2 p-button-danger" (click)="display = false"></button>
</div>


</p-dialog>

<p-dialog 
header="Delete Account" 
[(visible)]="deleteDisplay" 
[modal]="true" 
[style]="{width: '25vw'}  " 
[breakpoints]="{'960px': '95vw'}"
[closable]="true"
>
<div class="col-12 mb-4">
  <p style="font-size: larger;">Are you sure you want to delete this Account ? </p>
  <p style="font-size: larger;">Customer ID : <span style="font-weight: 600;">{{deletionAccountID}}</span> </p>
</div>
<div class="d-flex gap-3 mt-3">
  <button pButton (click)="deleteDisplay = false; deletionAccountID = null "  type="button" label="Cancel" class="p-button-outlined p-button-primary w-50" style="border-color:  #0d1763 ; color:  #0d1763;"></button>
  <button pButton (click)="delete()" type="button" label="Delete" class="p-button w-50 primary " ></button>
</div>

</p-dialog>


