/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  
}

.container{
    background-color: #f8f9fa;
    border-radius: 2%;
    min-height: 90vh;
    padding: 2vh 5vh;
    border-radius: 2%;
  box-shadow: 0 2px 12px rgba(0,0,0,0.1);
  overflow: hidden;
}

.filters-container{

    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap:wrap ;
    gap: 1%;
    width: 100%;

}

.title{
  padding-left: 0.15%;
}

.box-style {
  position: relative;
  overflow: hidden;
}



/* Decorative top border */
.box-style::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  width: 100%;
  color: #001845;
  background: linear-gradient(to right, #001845, rgba(0, 24, 69, 0.1));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  pointer-events: none;
}






/* Targets the main dropdown */
.p-dropdown {
  border-radius: 6px !important;

}



/* Main multiselect box */
.p-multiselect {
  border-radius: 6px !important;
}

::ng-deep .p-dropdown-panel {
  border-radius: 6px !important;
}









::ng-deep .p-card {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; /* or 0 to remove completely */
  }
  
  ::ng-deep .p-card-body {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    align-items: center;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0 !important;
    text-align: center; /* optional if you want text centered too */
  }
  
  
  .p-datatable .p-datatable-thead > tr > th {
    
    text-align: center !important; /* optional */
  }
  
  .p-datatable .p-datatable-tbody > tr:nth-child(odd) {
    background-color: #f8f9fa ; /* Light gray for odd rows */
  }
  
  .p-datatable .p-datatable-tbody > tr:nth-child(even) {
    background-color: #ffffff; /* White for even rows */
  }
  







  h4{
    color: #0d1763;
  }

  
  a {
    text-decoration: none;
  }
  

  .excel-btn {
    background-color: #1abc9c; // teal-ish Excel color
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
  }
  
  .excel-btn:hover {
    background-color: #16a085; // slightly darker on hover
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  


  .btn-light-success {
    background-color: #1abc9c !important;
    border-color: #1abc9c !important;
    color: white;
  }
  
  .btn-primary2 {
    background-color: #2F80ED !important;
    border-color: #2F80ED !important;
    color: #ffffff !important;
    font-weight: 600;
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #0d1763 !important;
    border-color: #0d1763 !important;
    color: #ffffff !important;
    font-weight: 600;
    border-radius: 8px;
  }
  .primary {
    background-color: #0d1763 !important;
    border-color: #0d1763 !important;
    color: #ffffff !important;
  }

  .btn-primary:hover {
    background-color: #2566c7 !important;
    border-color: #2566c7 !important;
  }
  
  .status-pill {
    display: inline-block;
    padding: 6px 6px;
    color: #fff;
    border-radius: 5px; /* pill shape */
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    min-width: 80px;
    text-transform: capitalize;
    width: 100%;
  }
 