/* You can add global styles to this file, and also import other style files */
.container{
    background-color: white;
    border-radius: 2%;
    min-height: 90vh;
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
}

.filters-container{

    display: flex;
    justify-content: start;
    flex-wrap:wrap ;
    gap: 3%;

}

::ng-deep .p-card {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important; /* or 0 to remove completely */
  }
  
  ::ng-deep .p-card-body {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }