<p-toast position="top-center" key="success" [baseZIndex]="50000"></p-toast>
<div class="col-12">
  <div class="title py-2">
<h4>Dashboard</h4>
  </div>
</div>


<div class="row col-12 mt-5">

  <div *ngFor="let card of stats" class="col-3 ">
    <div class="p-card ">
    <div class="p-card-body box-style">
     <p style="color: #001845; text-align: center;">Loans {{card.name}} : <span style="font-weight: 600;">{{card.value}}</span></p>
  </div>
</div>
 </div>

</div>

  <div class="mt-5 col-12">
    <div class="row">
      <div class="d-flex flex-row justify-content-between align-items-center w-100" >
  
        <!-- Line Chart on the Left -->
        <div class="col-md-8 p-card h-100">
          <div class="row">
        <div class="col-8 mt-4 ">
        
            <p-chart 
              type="line" [data]="lineChartData"   [options]="lineChartOptions"
              style="width: 3rem; height: 3rem;">
            </p-chart>
        
        </div>
        <div class="col-4 mt-5 d-flex justify-content-center align-items-center">
          <div style="width: 100%; max-width: 20rem; height: auto;">
            <p-chart 
              type="pie" 
              [data]="transactionTypeData" 
              [options]="{ plugins: { legend: { position: 'bottom' } } }"
              [responsive]="true"
              style="width: 100%; height: auto;">
            </p-chart>
          </div>
        </div>
      </div>
        </div>
  
        <!-- Cards on the Right -->
        <div class="col-md-4 p-2">
         <div class="p-card">
          <p-chart 
          type="bar" 
          [data]="transactionStatusChart" 
          styleClass="w-100" 
          style="height: 6rem;">
        </p-chart>
        </div>

      
          <div *ngFor="let card of cards1" class="col-12 px-3">
            <div class="p-card">
            <div class="p-card-body box-style mt-3">
             <p style="color: #001845; text-align: center;">{{ card }}</p>
            </div>
            </div>       
        </div>
        
    
    
      </div>

      
    </div>
  </div>
</div>


<div class="col-12 mt-5">
  <div class="border-bottom">
    <h6>Top Performing Employees</h6>
  </div>
  <div class="card mt-2">
    <p-table 
      [value]="topEmployees" 
      [paginator]="true" 
      [rows]="10" 
      [responsiveLayout]="'scroll'" 
      class="p-table-striped"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Employee ID</th>
          <th>Name</th>
          <th>Position</th>
          <th>Branch</th>
          <th>Region</th>
          <th>Performance Rating</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-emp>
        <tr>
          <th>
            <button class="btn btn-primary ml-5" style="margin-left: 20%;" (click)="copyToClipboard(emp.employeeId)"
              pTooltip="Copy Employee ID" tooltipPosition="left">
              <i class="pi pi-copy" style="font-size: 0.8rem"></i>
            </button>
          </th>
          <td>{{ emp.employeeId }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.position }}</td>
          <td>{{ emp.branch }}</td>
          <td>{{ emp.region }}</td>
          <td>{{ emp.performanceRating }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>




