<div class="row">
  <div class="col-11 container">


  <div class="mt-5">
    <div class="row">
      <div class="d-flex flex-row justify-content-between w-100">
  
        <!-- Line Chart on the Left -->
        <div class="col-md-7">
          <p-card>
            <p-chart type="line" [data]="lineChartData"></p-chart>
          </p-card>
        </div>
  
        <!-- Cards on the Right -->
        <div class="col-md-5 py-4 d-flex flex-wrap justify-content-center align-content-md-center gap-5  mt-2 mx-4">
         

           <div class="col-5">
            <p-card>
              <p>Card=1</p>
            </p-card>
           </div>

           <div class="col-5">
            <p-card>
              <p>Card=1</p>
            </p-card>
           </div>
     
           <div class="col-5">
            <p-card>
              <p>Card=1</p>
            </p-card>
            </div>

            <div class="col-5">
              <p-card>
                <p>Card=1</p>
              </p-card>
            </div>

            <div class="col-5">
              <p-card>
                <p>Card=1</p>
              </p-card>
              </div>
  
              <div class="col-5">
                <p-card>
               <p>Card=1</p>
                </p-card>
              </div>
            

          
        </div>
  
      </div>
    </div>
  </div>
  


  <div class=" col-12 mt-5">
  <div class="row">
    <div class="d-flex justify-content-end ">

    <div class="col-md-4 p-4 d-flex flex-wrap justify-content-center align-content-md-center gap-5  mt-2 ">
      
      <div class="col-10">
        <p-card><p>Card=1</p></p-card>
      </div>
      <div class="col-10">
        <p-card><p>Card=1</p></p-card>
      </div>
      <div class="col-10">
        <p-card><p>Card=1</p></p-card>
      </div>
     
    </div>

     <div class="col-md-4 p-4">
      <p-card>
        <p-chart type="doughnut" [data]="pieChartData"></p-chart>
      </p-card>
       </div>

       <div class="col-md-4 p-4">
        <p-card>
          <p-chart type="doughnut" [data]="pieChartData"></p-chart>
        </p-card>
         </div>

    </div>
  </div>
</div>

 








    <div class="col-12 mt-5">

      <div class="card">
        <p-table [value]="data" [paginator]="true" [rows]="5" [responsiveLayout]="'scroll'">
          <ng-template pTemplate="header">
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Roll No</th>
              <th>Branch</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>{{ rowData.id }}</td>
              <td>{{ rowData.name }}</td>
              <td>{{ rowData.rollNo }}</td>
              <td>{{ rowData.branch }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>



    </div>


  </div>
</div>